.container__part-two{
    background-color: #fffda9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title__part-two{
    background-color: #d4fdd6;
    color: #0e3cfd;
}
.title{
    color: #2d45aa;
}